/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
}

html
{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root
{
    --navbar-height: 59px;
}

body
{
    background-color: rgb(245, 235, 235);
}


/* Navigation Bar */
#navbar
{
    display: flex;
    align-items: center;
    /* position: relative; */
    position: absolute;
    top: 0px;
    left: 0px;
}

#navbar::before
{
    content: "";
    background-color: rgb(14, 13, 13);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9    ;
}

/* Navigation Bar: Logo and Image */
#logo
{
    margin: 0px 0px;
}

#logo img
{
    height: 100px;
    margin:5px 10px;
    opacity: 1;

}

/* Navigation Bar: List Style */
#navbar ul
{
    display: flex;
    margin: 05px 20px;
}

#navbar ul li
{
    list-style: none;
    font-size: 01rem;   
}

#navbar ul li a
{
    display: block;
    padding: 3px 25px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Balsamiq Sans', cursive;
}

#navbar ul li a:hover
{
    color:black;
    background-color: white;
    border-radius: 20px;
    padding: 10px 25px;
}


/* Home section */
#home
{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 623px;
    justify-content: center;
    align-items: center;
}

#home::before
{
    content: "";
    background: url('../img/bg1.jpg') no-repeat center center/cover ;
    /* background:url('../bg1.jpg')no-repeat center center/cover; */
    position: absolute;
    top: 0px;
    left: 0px;
    height: 623px;
    width: 100%;
    z-index: -1;
    opacity: 0.8    ;
}

#home h1
{
    color: rgb(18, 15, 231);
    text-align: center;
    font-family: 'Baloo Da 2', cursive;
}

#home p
{
    color: rgb(6, 31, 3);
    text-align: center;
    font-family: 'Baloo Da 2', cursive;
}

/* Services Section */
#services
{
    margin: 1px 40px;
    display: flex;
}

#services .box
{
    border: 2px solid red;
    background-color: rgb(231, 243, 237);
    padding: 34px;
    margin: 3px 8px;
    border-radius: 24px;

}

#services .box img
{
    height: 140px;
    width: 220px;
    margin: auto;
    display: block;
    
}

#services .box p
{
    font-family: 'Baloo Da 2', cursive;
}


/* client section */
#client-section
{
    height: 300px;
    margin: 30px;
}
    
#client-section::before
{
    content: " ";
    position: absolute;
    background: url('../img/bg2.jpg')no-repeat center center/cover;
    width: 100%;
    height: 49%;
    z-index: -1;
    opacity: 0.4;
    /* top: 0px;
    left: 0px; */

}

#clients
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item
{
    margin: 5px 34px;
}

.client-item img
{
    height: 120px;
    width: 120px;
}

/* Contact section */
#contacts
{
    /* position: relative; */
    height: 750px;
}

#contacts::before
{
    content: "";
    position: absolute;
    /* top: 0px;
    left: 0px; */
    height: 110%;
    width: 100%;
    background: url('../img/contact_bg1.jpg')no-repeat center center/cover;
    z-index: -1;
    opacity: 0.5;
}

#contact-box
{
    width: 40%;
    align-items: center;
    justify-content: center;
    margin: auto;
}


#contact-box form
{
    
 
}

#contact-box input
{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
}

#contact-box button
{
    padding: 6px 20px;
    border: 2px solid rgb(228, 214, 212);
    background-color: rgb(97, 87, 92);
    border-radius: 8px;
    color: rgb(10, 1, 1);
    margin: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    float: right;
}

#contact-box button:hover
{
    padding: 6px 20px;
    border: 2px solid rgb(228, 214, 212);
    background-color: rgb(97, 87, 92);
    border-radius: 8px;
    color: rgb(247, 7, 7);
    margin: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    float: right;
}


#contact-box textarea
{
        width: 100%;
        padding: 0.5rem;
        border-radius: 9px;
        font-size: 1.1rem;
        font-family:'Baloo Da 2', cursive;

}


#contact-box label
{
    font-size: 1.3rem;
    font-family:'Baloo Da 2', cursive;
    font-size: 1.1rem;
}

.form-group
{
    
}


/* Footer section */
footer
{
    background-color: black;
    color: white;
    padding: 9px 15px;
}






/* Utility Classes */
.h-primary
{
    font-family: 'Baloo Da 2', cursive;
    font-size: 3.8rem;
    padding: 10px;
}

.h-secondary
{
    font-family: 'Baloo Da 2', cursive;
    font-size: 2.2rem;
    padding: 10px;
}

.center
{
    text-align: center;
}

.btn
{
    padding: 6px 20px;
    border: 2px solid rgb(248, 188, 178);
    background-color: brown;
    border-radius: 8px;
    color: white;
    margin: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}